html {
  scroll-behavior: smooth;
}


body:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 300vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(Social_Network_Analysis_Visualization.png);
    opacity: 0.1;
  }

body {
      font-family: 'PT Sans Narrow', sans-serif !important;
      color: black;
      font-size: 8px;
    }

.navbar {
  background-color: #354f52 !important;
  padding: 0em 1.5vw !important;
  font-size: 1.5vw;
  font-weight: bold;
}


.nav-link {
  color: white !important;
  margin: 0 1.5vw !important;
}
.nav-item:hover {
  background-color: #52796f !important;
}
#lang > img {
  width: 2.5vw;
}
#welcome-section {
  width: 100%;
  padding-bottom: 0;
  padding-top: 8vh;
  min-height: 60vh;
}

#welcome {
  background-color: #eaede8;
  font-size: 1.5vw;
  text-align: center;
}

#title {
  font-size: 1.75em !important;
  text-align: center;
  padding: 1em 2em 0 2em;
  margin-top: 10vh;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10vw;
  height: auto;
  border-radius: 50%;
  margin-bottom: 3vh;
}

#icons {
  text-align: center;
  padding-bottom: 4em;
}

#experience {
  padding-top: 8em;
  padding-bottom: 10vh;
  background-color: #354f52;
  color:white;
  width: 100%;
  min-height: 60vh;
}
#exp {
  text-align: center;
  font-size: 1.5vw;
}
#skills {
  font-size: 2em;
  padding-bottom: 2em;
}
.exp-header {
  font-size: 1.75em;
  padding-top: 2rem;
}


#projects {
  padding-top: 8em;
  padding-bottom: 10vh;
  width: 100%;
  min-height: 60vh;
}
#projects-header {
  font-size: 5vw;
  text-align: center;
  padding-bottom: 1em;
}
#pr {
  text-align: center;
  font-size: 1.2vw;
}
.inner {
  margin-left: 2em;
  margin-bottom: 2em;
  height: 16em;
  border: 5px solid #354f52;
  background-color: #eaede8;
}
.inner > h3 {
  background-color: #354f52;
  color: white;
  font-size: 1.5em;
}
#pr > div > div {
  padding: 0 5px 0 5px;
}
#pr > div > div > div {
  color: black;
}
.links {
  position: absolute;
  bottom: 2.2em;
  width: 85%;
  margin: 0 auto;
}

.links > a {
  text-decoration: none;
  font-weight: bold;
  color: #354f52;
  padding-right: 1vw;
  padding-left: 1vw;
}

.links > a:hover {
  text-decoration: underline;
}

.project-tile {
  background-color: #eaede8;
  text-align: center;
  font-size: 2vh;
}

#friconix {
  float: right;
  font-size: 2vh;
  bottom: 0;
}

#friconix > a {
  text-decoration: none;
  color: black;
}

#friconix > a:hover {
  color: black;
  text-decoration: underline;
}



@media (max-width: 768px) {
	.navbar {
		font-size: 3vw;
		}
	#photo {
		max-width: 10vw;
	}
	.container {
		font-size: 4vw !important;
	}
}
