body {
  font-family: 'Montserrat', sans-serif;
  background-color: #232020;
  color: white;
  font-size: 8px;
}


.nav-list {
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #748E54;
  display: flex;
  justify-content: flex-end;
  position: fixed;
}

.nav-list > li {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  margin: 0 2rem 0 2rem;
  text-decoration: none;
}

.nav-list > li > a {
  text-decoration: none;
  color: white;
}

.nav-list > li > a: hover {
  background-color: #955E42;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#title {
  font-size: 2.5rem;
  padding: 2rem;
}

#photo {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 2rem;
}
