body {
  font-family: 'Montserrat', sans-serif;
  background-color: #232020;
  color: white;
  font-size: 8px;
}


.nav-list {
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #748E54;
  display: flex;
  justify-content: flex-end;
  position: fixed;
}

.nav-list > li {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 2rem 0 2rem;
  text-decoration: none;
}

.nav-list > li > a {
  text-decoration: none;
  color: white;
}

.nav-list > li > a: hover {
  background-color: #955E42;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
}

#title {
  font-size: 2rem;
  padding: 2rem 2rem 0 2rem;
  margin-top: 10vh;
}

#photo {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0;
}

section > p {
  text-align: center;
}

#services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  height: 100vh;
  font-size: 1.5rem;
  padding-top: 15%;
}

.service {
  text-align: center;
}

.projects-header {
  grid-area: header;
}
 #project1 {
   grid-area: pr1;
 }
#project2 {
  grid-area: pr2;
}
#project3 {
  grid-area: pr3;
}
#project4 {
  grid-area: pr4;
}
#more {
  grid-area: more;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(25%, 4);
  grid-template-rows: auto;
  grid-template-areas:
  "header header header header"
  "pr1 pr2 pr3 pr4"
  "more more more more";
  justify-items: center;
  grid-gap: 10px;
  height: 100vh;
  font-size: 1.5rem;
  padding-top: 15%;
}
