html {
  scroll-behavior: smooth;
}


body:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 300vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(Social_Network_Analysis_Visualization.png);
    opacity: 0.1;
  }

body {
      font-family: 'Abel', sans-serif !important;
      color: black;
      font-size: 8px;
    }

.navbar {
  background-color: #354f52 !important;
  padding: 0em 1em !important;
  font-size: 1.8em;
  font-weight: bold;
}
.nav-link {
  color: white !important;
  margin: 0em 1em !important;
}
.nav-item:hover {
  background-color: #52796f !important;
}
#lang > img {
  width: 1.4em;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  padding-bottom: 0;
}

#welcome {
  background-color: #eaede8;
  font-size: 1.5em;
  text-align: center;
}

#title {
  font-size: 1.75em !important;
  text-align: center;
  font-size: 4vh;
  padding: 1em 2em 0 2em;
  margin-top: 10vh;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 4em;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0;
}

#icons {
  text-align: center;
  padding-bottom: 4em;
}

#experience {
  padding-top: 8em;
  padding-bottom: 10vh;
  background-color: #354f52;
  color:white;
  width: 100%;
  height: 100vh;
}
#exp {
  text-align: center;
  font-size: 1.5em;
}
.exp-header {
  font-size: 1.75em;
  padding-top: 2rem;
}


#projects {
  padding-top: 8em;
  padding-bottom: 10vh;
  width: 100%;
  height: 100vh;
}
#pr {
  text-align: center;
  font-size: 1.2em;
}
#pr > div > div {
  padding: 0 5px 0 5px;
}
#pr > div > div > div {
  background-color: #52796f;
  color: white;
}
.links {
  text-align: center;
}

.links > a {
  text-decoration: none;
  font-weight: bold;
  color: #354f52;
  padding-right: 1vw;
  padding-left: 1vw;
}

.links > a:hover {
  text-decoration: underline;
}

.project-tile {
  background-color: #eaede8;
  text-align: center;
  font-size: 2vh;
}

.friconix {
  float: right;
  font-size: 2vh;
  bottom: 0;
}

.friconix > a {
  text-decoration: none;
  color: black;
}

.friconix > a:hover {
  color: black;
  text-decoration: underline;
}

@media screen and (min-width: 993px) {
  body{font-size: 14px;}
}
@media screen and (min-width: 769px) and (max-width: 992px){
    body{font-size: 13px;}
    #experience {padding-top: 1.75em;}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    body{font-size: 12px;}
    #experience {padding-top: 1.75em;}
}
@media screen and (max-width: 576px) {
    body{font-size: 11px;}
    #experience {padding-top: 1.75em;}
}
