html {
  scroll-behavior: smooth;
}


body:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 300vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(Social_Network_Analysis_Visualization.png);
    opacity: 0.1;
  }

body {
      font-family: 'PT Sans Narrow', sans-serif !important;
      color: black;
      font-size: 8px;
    }

.navbar {
  background-color: #354f52 !important;
  padding: 0em 1em !important;
  font-size: 1.8em;
  font-weight: bold;
}
.nav-link {
  color: white !important;
  margin: 0em 1em !important;
}
.nav-item:hover {
  background-color: #52796f !important;
}
#lang > img {
  width: 1.4em;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  padding-bottom: 0;
  padding-top: 8em;
}

#welcome {
  background-color: #eaede8;
  font-size: 1.5em;
  text-align: center;
}

#title {
  font-size: 1.75em !important;
  text-align: center;
  font-size: 4vh;
  padding: 1em 2em 0 2em;
  margin-top: 10vh;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 4em;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0;
}

#icons {
  text-align: center;
  padding-bottom: 4em;
}

#experience {
  padding-top: 8em;
  padding-bottom: 10vh;
  background-color: #354f52;
  color:white;
  width: 100%;
  height: 100vh;
}
#exp {
  text-align: center;
  font-size: 1.5em;
}
#skills {
  font-size: 2em;
  padding-bottom: 2em;
}
.exp-header {
  font-size: 1.75em;
  padding-top: 2rem;
}


#projects {
  padding-top: 8em;
  padding-bottom: 10vh;
  width: 100%;
  height: 100vh;
}
#projects-header {
  font-size: 3em;
  text-align: center;
  padding-bottom: 1em;
}
#pr {
  text-align: center;
  font-size: 1.2em;
}
.inner {
  margin-left: 2em;
  margin-bottom: 2em;
  height: 16em;
  border: 5px solid #354f52;
  background-color: #eaede8;
}
.inner > h3 {
  background-color: #354f52;
  color: white;
}
#pr > div > div {
  padding: 0 5px 0 5px;
}
#pr > div > div > div {
  color: black;
}
.links {
  background-color: #354f52;
  position: absolute;
  bottom: 2.2em;
  width: 85%;
  margin: 0 auto;
}

.links > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-right: 1vw;
  padding-left: 1vw;
}

.links > a:hover {
  text-decoration: underline;
}

.project-tile {
  background-color: #eaede8;
  text-align: center;
  font-size: 2vh;
}

#friconix {
  float: right;
  font-size: 2vh;
  bottom: 0;
}

#friconix > a {
  text-decoration: none;
  color: black;
}

#friconix > a:hover {
  color: black;
  text-decoration: underline;
}

@media screen and (min-width: 1201px) {
  body{font-size: 16px;}
  #welcome-section{padding-top: 5em;}
  #experience {padding-top: 10em;}
  #projects{padding-top: 5em;}
  .inner{height: 15em;}
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  body{font-size: 14px;}
  #experience {padding-top: 8em;}
  .inner > h3 {font-size: 1.5em;}
  #projects {padding-bottom: 0;padding-top:4em;}
}
@media screen and (min-width: 769px) and (max-width: 992px){
    body{font-size: 13px;}
    #experience {padding-top: 1.75em;}
    .links {width: 93%;}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    body{font-size: 12px;}
    #welcome{padding-top: 10px;}
    #experience {padding-top: 10em;}
}
@media screen and (min-width: 376px) and (max-width: 576px) {
    body{font-size: 11px;}
    #experience {padding-top: 4em;padding-bottom:1em;}
    #skills{padding-bottom:0.5em;}
    .links {width: 91%;}
    #welcome-section{padding-top:4em;}
}
@media screen and (min-width: 250px) and (max-width: 375px) {
    body{font-size: 9px;}
    #experience {padding-top: 1.75em;height:120%;}
    .links {width: 91%;}
    #welcome-section {height:110%;padding-top: 4em;padding-bottom:2em;}
    #title {margin-top: 0em;}
}
